<h1 class="titulo">Contacto</h1>
<mat-dialog-content>
    <div fxLayout="row">
        <div fxLayout="column">
            <p><b>Christian Correa</b> <br> Director - <span> jcorrea@visorurbano.com</span> </p>
            <p><b>Daniel Murillo</b> <br> Jurídico - <span> daniel@visorurbano.com</span> </p>
            <p><b>David Bates</b> <br> Comunicación - <span>dbates@visorurbano.com</span> </p>
            <p><b>Sergio Villafan</b> <br> Desarrollo - <span>sergio@visorurbano.com</span> </p>


        </div>
        <!-- <div  fxLayout="column" class="mt-40  ml-40 pr-20">
        <img src="assets/images/landing/whatsapp.png">
           <h3><b>Whatsapp</b></h3>
           <p>331091 1026</p>

           </div> -->
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Salir</button>

</mat-dialog-actions>