<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="https://1.envato.market/c/1257954/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Ffuse-angularjs-material-design-admin-template%2F12931855" target="_blank" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/Icon.png" style="width: 50% ;" alt="">
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <img src="assets/images/bloomberg-blanco.png" style="width: 70% ;" alt="">
        </div>

    </div>

</mat-toolbar>