# =========================================================================
# ESCUDO MAESTRO DEL MONOREPO (Centralizado en la Raíz)
# =========================================================================

# 1. EXCLUSIONES CRÍTICAS POR PESO (Se regeneran solas) Angular=Frontend
frontend/node_modules/
frontend/dist/
backend/vendor/

# 2. EXCLUSIONES DE BASURA DE EDITORES Y SISTEMA OPERATIVO
**/Thumbs.db
**/.DS_Store
**/.vscode/
**/*.log

# 3. ARCHIVOS TEMPORALES DE COMPILACIÓN DE ANGULAR
frontend/tmp/
frontend/out-tsc/

#4. EXCLUIR RESPALDO REAL DE BD PRODUCCIÓN(lUIS VALDOS lUNES 24 AGOSTO 2026)
database/Luis_BaseDatos_REAL_Produccion_vu_mapa_07_Agosto_2026.backup

# =========================================================================
# NOTA DE ARQUITECTURA: LAS CREDENCIALES (.env), LAS MIGRACIONES (database)
# Y LOS ENVIRONMENTS QUEDAN LIBRES Y AUTORIZADOS PARA SUBIRSE A GITHUB.
# =========================================================================