<app-header></app-header>
<div class="content" >

<div class="tutoriales" fxLayout="column"  fxLayoutAlign="center center" >
    <h1 class="titulo1">Tutoriales</h1>
    <div class="contenido1">
        <div class="titulo">
            1. ¿Cómo funciona la plataforma Visor Urbano?
        </div>
        <div class="texto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus, ipsum vel viverra laoreet, enim justo aliquet orci, non pulvinar felis urna eu mi. Vivamus eget orci vel neque consequat tincidunt.
        </div>
    </div>

</div>

    <landing-footer></landing-footer>
</div>
