
<div fxLayout fxLayoutAlign="center center" style="height: 520px;" *ngIf="loading==false">
        <ngx-charts-bar-vertical style="width: 100%;" [scheme]="colorScheme" [results]="data" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)" [animations]="true" [legendTitle]="'Mes'">
    </ngx-charts-bar-vertical>
    
</div>