<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="https://cuernavaca.gob.mx//" target="_blank" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/icons/visor/logo-default.png" style="width: 50% ;" alt="">
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a href="https://www.bloomberg.org/" target="_blank">
                <img src="assets/images/bloomberg-blanco.png" style="width: 70%;" alt="">
            </a>
        </div>

    </div>

</mat-toolbar>