<h1 class="titulo">SCIAN</h1>
<mat-dialog-content>
    <div fxLayout="column">
        <p>
            El Instituto Nacional de Estadística y Geografía, publicó el 10 de julio de 2009 en el Diario Oficial de la Federación el Acuerdo para el uso del Sistema de Clasificación Industrial de América del Norte (SCIAN). En dicho acuerdo, se estableció obligatorio
            el uso del SCIAN para todas las Unidades del Estado (dependencias) que generen u obtengan estadísticas económicas a través del Sistema Nacional de Información Estadística y Geográfica. Su adopción fue necesaria para tener un clasificador único
            que permita estandarizar la información económica que se produce en el país. De esta manera se sustituyó la "Clasificación Mexicana de Actividades y Productos".

        </p>
    </div>
    <div fxLayout="column" class="scian">
        <p>
            El SCIAN es una clasificación sistemática de actividades económicas organizadas tomando en cuenta distintos criterios propios del desarrollo de dicha actividad:
        </p>
        <ul>
            <li>A qué etapa de actividad económica pertenecen (primaria, secundaria o terciaria)</li>
            <li>Sector en el que se encuentran (comercio de bienes, prestación de servicios, etc) </li>
            <li>Características a detalle de la actividad (qué productos venden, ya sea alimentos, muebles, autos, etc; que servicios ofrecen, ya sea seguros, consultorías, servicios de banca, notarías, etc.)</li>
        </ul>


    </div>
    <div fxLayout="column">

        <p>El reconocimiento y uso del SCIAN es importante para el funcionamiento de Visor Urbano. De un total de 1,059 giros o clases de actividades económicas que contiene el catálogo, 42% corresponden a actividades de bajo riesgo que no representan peligro
            para los ciudadanos o impacto al medio ambiente. Por ello, todas esas actividades son susceptibles de ser desarrolladas por los emprendedores y PyMES sin regulaciones excesivas.
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Salir</button>

</mat-dialog-actions>