<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0" style="background:#003E76">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" >
            <span class="title dialog-title">Detalle</span>
            <button mat-icon-button  mat-dialog-close aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
          <p>{{detalle}}</p>    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">    
   
        <button  mat-button mat-dialog-close   aria-label="cancelar" class="cancel-button" [ngStyle]="btnCssCancel">
            Cancelar
        </button>
    </div>
</div>

