.input-class {
    .mat-form-field{
        width: 400px;
        padding: 20px;
    }
}


.flex-dialog-modal {
    flex-wrap: wrap !important;
}

form div {
    flex-direction: row !important;
    flex-wrap: wrap !important;
}