<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0" [ngStyle]="btnCss">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Agregar campo</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="campoForm" class="formulario">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nombre del campo</mat-label>
                    <mat-icon matSuffix class="secondary-text">info</mat-icon>
                    <input name="campo" formControlName="campo" matInput required>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button  *ngIf="_data.type == 'new'" mat-button class="save-button" (click)="saveCampo()" [disabled]="campoForm.invalid" aria-label="SAVE" [ngStyle]="btnCss">
            Agregar
        </button>
        <button  *ngIf="_data.type == 'edit'" mat-button class="save-button" (click)="editCampo()" [disabled]="campoForm.invalid" aria-label="SAVE" [ngStyle]="btnCss">
            Editar
        </button>
    </div>
</div>