<ngx-wrapper-copilot></ngx-wrapper-copilot>
<mat-toolbar matDialogTitle class="fuse-visor-50 m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" copilot [copilot-template]="step1 " [copilot-step]="1">
        <span class="title dialog-title">Requisito</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
    </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

    <form class="formulario" [formGroup]="requisitoForm">

        <div fxLayout="row" fxLayoutAlign="start start">

            <mat-form-field appearance="outline" fxFlex>

                <mat-label>Documento o información a requerir</mat-label>
                <mat-icon matSuffix class="secondary-text">description</mat-icon>

                <mat-select name="type" formControlName="type" required (selectionChange)="tipoRequisitoClear()">
                    <mat-option *ngIf="requisitoForm.value.tipo_tramite!='consulta_requisitos'" value="file">Documento (PDF o imagen)</mat-option>
                    <mat-option value="input">Texto libre
                        <mat-icon matSuffix *ngIf="requisitoForm.value.type!='input'" class="secondary-text" matTooltipPosition="right" matTooltip="En esta opción el solicitante responde de manera libre en un campo de texto con un limite de 255 letras">help</mat-icon>
                    </mat-option>
                    <mat-option value="boolean">Responder sí o no
                        <mat-icon matSuffix *ngIf="requisitoForm.value.type!='boolean'" class="secondary-text" matTooltipPosition="right" matTooltip="Ejemplo: ¿El establecimiento se encuentra dentro de una plaza comercial? Respuesta: Sí - No">help</mat-icon>
                    </mat-option>
                    <mat-option value="select">Lista desplegable
                        <mat-icon matSuffix *ngIf="requisitoForm.value.type!='select'" class="secondary-text" matTooltipPosition="right" matTooltip="Si tienes una lista de más de 5 opciones a elegir por el solicitante, selecciona esta opción. (El solicitante solo se podrá seleccionar una)">help</mat-icon>
                    </mat-option>
                    <mat-option value="radio">Selección de opciones
                        <mat-icon matSuffix *ngIf="requisitoForm.value.type!='radio'" class="secondary-text" matTooltipPosition="right" matTooltip="Si tienes una lista de 3 a 5 opciones a elegir por el solicitante, selecciona esta opción. (El solicitante solo se podrá seleccionar una)">help</mat-icon>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Título del requisito o información a requerir</mat-label>
                <mat-icon matSuffix class="secondary-text">description</mat-icon>
                <input autocomplete="off" name="description" formControlName="description" matInput required>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Descripción detallada del requisito</mat-label>
                <mat-icon matSuffix class="secondary-text">description</mat-icon>
                <input autocomplete="off" name="description_rec" formControlName="description_rec" matInput >
            </mat-form-field>
        </div>

        <!--<div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Identificador corto</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input autocomplete="off" name="name" formControlName="name" placeholder="Ejemplo: (fotografias_inmueble)" matInput required>
                </mat-form-field>
            </div>-->


        <blockquote fxLayout="row" *ngIf="requisitoForm.value.type=='select' || requisitoForm.value.type=='radio'">
            <div formArrayName="opciones">
                <h3>Opciones</h3>
                <button type="button" mat-raised-button class="button-visor-confirm pb-8" (click)="addOpcion()">Agregar</button>
                <br>
                <div *ngFor="let opcion of opciones.controls; let i=index" fxLayout="row">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Opción</mat-label>
                            <input autocomplete="off" [formControlName]="i" matInput required>
                        </mat-form-field>
                    </div>
                    <div class="text-center pt-12 pl-8">
                        <button mat-icon-button type="button" color="warn" (click)="removeOpcion(i)">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </div>
                </div>
            </div>

        </blockquote>
        <blockquote fxLayout="row" fxLayoutAlign="start start" *ngIf="requisitoForm.value.type=='booleane'">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Campo Afectado</mat-label>
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <input name="campo_afectado" formControlName="campo_afectado" matInput required>
            </mat-form-field>
        </blockquote>
        <div fxLayout="row" fxLayoutAlign="start start" *ngIf="requisitoForm.value.type=='file'">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Fundamento legal</mat-label>
                <mat-icon matSuffix class="secondary-text">gavel</mat-icon>
                <input autocomplete="off" placeholder="Señala el artículo que solicita el requisito" name="fundamento" formControlName="fundamento" matInput>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>¿Cuándo se requiere?</mat-label>
                <mat-icon matSuffix class="secondary-text">settings</mat-icon>
                <mat-select name="requerido" formControlName="requerido" required>
                    <mat-option value="1">Siempre (Todos los giros)</mat-option>
                    <mat-option value="2" *ngIf="requisitoForm.value.type=='file'">Personalizar parámetros</mat-option>
                    <!--<mat-option value="3">Requisto verdadero o falso</mat-option>-->
                </mat-select>
            </mat-form-field>
        </div>
        <blockquote fxLayout="column" fxLayoutAlign="" *ngIf="requisitoForm.value.requerido==2">
            <p>Nota: No es obligatorio llenar todos los campos</p>
            <mat-form-field class="example-chip-list">
                <mat-label>¿Este documento se pide por algún giro en especifico?</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let giro of girosSeleccionados" [selectable]="selectable" [removable]="removable" (removed)="remove(giro)">
                        {{giro}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Giros" #giroInput [formControl]="girosCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let giro of filteredGiros | async" [value]="giro">
                        {{giro.SCIAN}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="sub-input">
                <p fxLayout="row">El requisito aplica cuando la superficie de la propiedad es...</p>
                <div fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Condición</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-select formControlName="propiedad_condicion" name="requerido">
                            <mat-option value="0" selected>No aplica</mat-option>
                            <mat-option value=">=">Mayor o igual a</mat-option>
                            <mat-option value="<=">Menor o igual a</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" *ngIf="requisitoForm.value.propiedad_condicion!='0'">
                        <mat-label>Metros cuadrados</mat-label>
                        <mat-icon matSuffix class="secondary-text">number</mat-icon>
                        <input name="propiedad_metros" formControlName="propiedad_metros" autocomplete="off" type="number" matInput [required]="requisitoForm.value.propiedad_condicion!='0'">
                    </mat-form-field>
                </div>
            </div>


            <div class="sub-input">
                <p fxLayout="row">El requisito aplica cuando la superficie de la actividad es...</p>
                <div fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Condición</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-select formControlName="actividad_condicion" name="">
                            <mat-option value="0" selected>No aplica</mat-option>
                            <mat-option value=">=">Mayor o igual a</mat-option>
                            <mat-option value="<=">Menor o igual a</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" *ngIf="requisitoForm.value.actividad_condicion!='0'">
                        <mat-label>Metros cuadrados</mat-label>
                        <mat-icon matSuffix class="secondary-text">number</mat-icon>
                        <input name="actividad_metros" formControlName="actividad_metros" autocomplete="off" type="number" matInput [required]="requisitoForm.value.actividad_condicion!='0'">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="sub-input">
                <p fxLayout="row">El requisito aplica cuando el carácter del solicitante es</p>
                <div fxLayout="row">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Condición</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-select name="caracter_solicitante_condicion" multiple formControlName="caracter_solicitante_condicion">
                            <!--<mat-option value="0" selected>Sin condición</mat-option>-->
                            <mat-option value="Propietario">Propietario</mat-option>
                            <mat-option value="Arrendatario">Arrendatario</mat-option>
                            <mat-option value="Carta poder">Carta poder</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="sub-input">
                <p fxLayout="row">El requisito aplica cuando el tipo de persona es </p>
                <div fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Condición</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-select name="tipo_persona_condicion" multiple formControlName="tipo_persona_condicion">
                            <!--  <mat-option value="0" selected>Sin condición</mat-option>-->
                            <mat-option value="Física">Física</mat-option>
                            <mat-option value="Moral">Moral</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="sub-input">
                <p fxLayout="row">En venta de alcohol, el requisito aplica cuando</p>
                <div fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Condición</mat-label>
                        <mat-icon matSuffix class="secondary-text">liquor</mat-icon>
                        <mat-select name="check_alcohol" formControlName="check_alcohol">
                            <mat-option value="0">No aplica</mat-option>
                            <mat-option value="1">Bebidas de baja graduación cerrada</mat-option>
                            <mat-option value="2">Bebidas de baja graduación abierta</mat-option>
                            <mat-option value="3">Bebidas de alta graduación cerrada</mat-option>
                            <mat-option value="4">Bebidas de alta graduación abierta</mat-option>
                            <mat-option value="5">Cualquiera de las anteriores</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="sub-input">
                <label>Para aplicar este requisito, ¿Se deben de cumplir todas las condiciones o basta con que se cumpla una de ellas? : </label>
                <mat-radio-group class="example-radio-group" formControlName="todasCondiciones">
                    <mat-radio-button class="example-radio-button" value="true">Todas las condiciones</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="false">Con solo una de las condiciones</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <mat-checkbox name="check_dependencia" formControlName="check_dependencia">Este requisito lo revisa o emite alguna de las siguientes dependencias externa ?</mat-checkbox><br>
                <label>Dependencias registradas para el municipio, no esta registrada ? <a (click)="newRole()">clic para registrar</a> </label>
                <div *ngIf="requisitoForm.value.check_dependencia">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <br>
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Dependencias involucradas  </mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <mat-select name="dependencias" [value]="dependenciaSelected" formControlName="dependencias">
                                <!--<mat-option value="0" selected>Sin condición</mat-option>-->
                                <mat-option *ngFor="let dependencia of dependenciaList" [value]="dependencia.id" >{{dependencia.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            



        </blockquote>
        <!-- Fin de div parametros configurables-->
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>El requisito esta relacionado a...</mat-label>
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-select name="step" formControlName="step" required>
                    <mat-option value="1">Solicitante</mat-option>
                    <mat-option value="2">Propietario</mat-option>
                    <mat-option value="3">Predio</mat-option>
                    <mat-option value="4">Establecimiento</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Este requisito o información en dónde se solicitará</mat-label>
                <mat-icon matSuffix class="secondary-text">library_books</mat-icon>
                <mat-select name="tipo_tramite" formControlName="tipo_tramite" required>
                    <mat-option *ngIf="requisitoForm.value.type!='file'" value="consulta_requisitos">Para la consulta de requisitos</mat-option>
                    <mat-option value="oficial">Durante o dentro del trámite</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!--<div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Secuencia</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="secuencia" type="number" formControlName="secuencia" matInput required>
                </mat-form-field>
            </div>-->


        <div class="message-box error mt-16" #errorsdiv @animate [@slideInLeft] *ngIf="errors.length>0">
            <h3>Para guardar el requisito llena la siguiente información:</h3>
            <ol @animate [@slideInLeft]>
                <li *ngFor="let item of errors"> {{item}} </li>
            </ol>
            <p> <b>Nota:</b> Los campos marcados con * son obligatiorios</p>
        </div>

        <!--<div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>condicion visible</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="condicion_visible" formControlName="condicion_visible" matInput required>
                </mat-form-field>
            </div>-->


        <!--<div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>opciones descripcion</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="opciones_desc" formControlName="opciones_desc" matInput required>
                </mat-form-field>
            </div> -->



    </form>
</div>
<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

    <div fxLayout="row" fxLayoutAlign="start start">
        <button *ngIf="action !== 'edit'" mat-button class="save-button" (click)="guardar()" aria-label="SAVE" [ngStyle]="btnCss">
                Agregar
            </button>
        <button *ngIf="action !== 'new'" mat-button class="save-button" (click)="guardar()" aria-label="SAVE" [ngStyle]="btnCss">
                Editar
            </button>
        <button mat-button class="save-button" (click)="matDialogRef.close()" aria-label="cancelar" [ngStyle]="btnCssCancel">
                Cancelar
            </button>
    </div>
    <ng-template #step1>
        <div class="copilot-custom">
            <h3>Paso uno</h3>
            <p>En este campo debes mostrar</p>
            <div class="footer-btn">
                <button (click)="done()" type="button">Muy bien</button>
            </div>
        </div>
    </ng-template>
</div>