<h1  class="titulo">Qué es Visor Urbano</h1>
<mat-dialog-content>
   
    <div fxLayout="column">
        <h2>Descripción</h2>
        <p>
            En Visor Urbano, podrás conocer los requisitos aplicables para abrir tu negocio y tramitar tu licencia totalmente en línea.
        </p>
    </div>

    <div fxLayout="column">
        <h2>Antecedentes</h2>
        <p>
            En 2016, Guadalajara fue una de las cinco ciudades ganadoras del concurso de innovación llamado "Mayors Challenge" organizado por la fundación americana Bloomberg Philanthropies, las cuales destacaron por sus ideas innovadoras y audaces que abordan desafíos
            urgentes, y que además tienen el mayor potencial de impacto positivo y capacidad para replicarse en otras regiones. Se otorgó un millón de dólares para la creación de la plataforma Visor Urbano.</p>
        <p>
            En 2020, una vez finalizada la primera etapa y dado el éxito que se tuvo, la fundación por primera vez en la historia de los concursos en Latinoamérica decidió continuar con el apoyo al proyecto para replicarlo en todos los municipios del Estado de Cuernavaca
            y a nivel internacional.</p>
    </div>


    <div fxLayout="column">
        <h2>Beneficios</h2>
        <h3>Para la ciudadanía: </h3>
        <ul>
            <li>Consultas de información gubernamental en tiempo real</li>
            <li>Proceso completamente en línea</li>
            <li>Agiliza el tiempo del trámite y entrega de licencia</li>
            <li>Proceso único para todos los municipios </li>
            <li>Evitar acudir a oficinas gubernamentales </li>
            <li>Reducción de la discrecionalidad del proceso </li>
            <li>Participación proactiva de la ciudadanía en el desarrollo urbano </li>
        </ul>

        <h3>Para los municipios: </h3>
        <ul>
            <li>Software libre y configurable </li>
            <li>Sin costos, al alojarse en servidores del gobierno </li>
            <li>Obtención de la certificación del Sistema de Apertura Rápida de Empresas (SARE) regulada por la Comisión Nacional de Mejora Regulatoria</li>
            <li>Transparencia proactiva al publicar todas las licencias para libre consulta </li>
            <li>Generación de reportes en tiempo real</li>
            <li>Consulta de estatus, resultados y avance de indicadores en tiempo real </li>
            <li>Capacitación, asesoría y acompañamiento continuo del equipo de VU</li>
            <li>Transición hacia un gobierno más abierto, digital e innovador </li>
            <li>Adecuar la normatividad a los nuevos estándares digitales </li>
        </ul>

    </div>

    <div fxLayout="column">
        <h2>Reconocimientos</h2>
        <p>
            Entre los premios y reconocimientos otorgados a Visor Urbano están:
        </p>
        <ul>
            <li> Certificación mexicana SARE (Sistema de Apertura Rapida de Empresas) regulada por la Comisión Nacional de Mejora Regulatoria.</li>
            <li> Premio Nacional de Innovación en Transparencia 2018 </li>
            <li>Latin America Geospatial World Excellence Award</li>
            <li>U-Gob de Gobierno Digital en la categoría de Gobierno Municipal 2019</li>
            <li>Mención especial de "Innovación Gubernamental" en premios IT +Gob organizados por el Comité de Informática de la Administración Pública Estatal y Municipal (CIAPEM)</li>
            <li>Future Cities Award en la categoría "Ciudad del Futuro", catalogándola como la iniciativa más “futurista e innovadora”. Dicho premio fue entregado en 2020 en el marco de la Reunión Anual de Inversiones llevada a cabo en los Emiratos Árabes
                Unidos.
            </li>
        </ul>
        <p>
            Además, en 2019, Guadalajara se convirtió en el primer municipio a nivel nacional en integrar un esquema de Gobierno Digital entre los países miembros de la Organización para la Cooperación y el Desarrollo Económicos (OCDE), por medio de las plataformas
            digitales Visor Urbano y Ciudapp.

        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Salir</button>

</mat-dialog-actions>