<div id="changePassword" fxLayout="column">

    <img src="assets/images/backgrounds/Icon.png" class="over-img" >

    <div id="changePassword-form-wrapper" fxLayout="column" fxLayoutAlign="center center" >
      
       <img src="assets/images/backgrounds/banner.png" class="over-image">
       
       <img src="assets/images/backgrounds/bloomberg_logo.svg" class="over-image1">
       
       <div id="changePassword-form" >

          

           <div class="logo">
               <img src="assets/images/logo.svg">
           </div>

           <div class="title">Ingresa tu nueva contraseña</div>

           <form name="changePasswordForm" [formGroup]="changePasswordForm"  (ngSubmit)="onSubmit()">

               <mat-form-field appearance="outline" (focusin)="hover1=true" (focusout)="hover1=false">
                   <mat-label>Correo electrónico</mat-label>
                   <input matInput formControlName="email">
                   <mat-icon class="secondary-text" matSuffix  >
                       <img *ngIf="hover1==true" src="assets/images/icons/ico_mail_active.svg" />
                       <img *ngIf="hover1==false" src="assets/images/icons/ico_mail.svg"/>
                   </mat-icon>
                   <mat-error *ngIf="changePasswordForm.get('email').hasError('required')">
                       El correo es requerido
                   </mat-error>
                   <mat-error *ngIf="!changePasswordForm.get('email').hasError('required') &&
                   changePasswordForm.get('email').hasError('email')">
                       Ingresar un correo valido
                   </mat-error>
               </mat-form-field>

               <mat-form-field appearance="outline"  (focusin)="hover2=true" (focusout)="hover2=false">
                   <mat-label>Contraseña</mat-label>
                   <input matInput type="password" formControlName="password">
                   <mat-icon class="secondary-text" matSuffix >
                       <img *ngIf="hover2==true" src="assets/images/icons/ico_password_active.svg" />
                       <img *ngIf="hover2==false" src="assets/images/icons/ico_password.svg"/>
                   </mat-icon>
                   <mat-error>
                       Contraseña es requerida
                   </mat-error>
               </mat-form-field>

               <mat-form-field appearance="outline"  (focusin)="hover3=true" (focusout)="hover3=false">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput type="password" formControlName="passwordConfirm">
                <mat-icon class="secondary-text" matSuffix >
                    <img *ngIf="hover3==true" src="assets/images/icons/ico_password_active.svg" />
                    <img *ngIf="hover3==false" src="assets/images/icons/ico_password.svg"/>
                </mat-icon>
                <mat-error *ngIf="changePasswordForm.get('passwordConfirm').hasError('required')">
                    Confirmación de contraseña es requerida
                </mat-error>
                <mat-error *ngIf="!changePasswordForm.get('passwordConfirm').hasError('required') &&
                changePasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                    Las contraseñas deben ser identicas
                </mat-error>
            </mat-form-field>

               
               <div style="text-align: center;">
               <button mat-raised-button color="accent" type="submit" class="submit-button" [disabled]="changePasswordForm.invalid">
                   Cambiar Contraseña
               </button>
           </div>
           </form>


          

       </div>

   </div>


   
</div>

