<div id="mis-tramites" class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header fuse-visor-50 p-24 h-120" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Trámites</span>
            </div>
            <div class="h2 mt-16">
                Trámites
            </div>
        </div>
        <a mat-raised-button class="button-visor-new" href="/mapa" [@animate]="{value:'*', params:{delay:'500ms',scale:'.2'}}">
            <mat-icon>add</mat-icon> Nuevo trámite
        </a>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24" [@animate]="{value:'*', params:{delay:'500ms',scale:'.2'}}">

        <tramites-list></tramites-list>

    </div>
    <!-- / CONTENT -->
</div>