.container{
    padding: 30px;
    border-radius: 25px !important;
    margin-bottom: 5px !important;
    background-color: rgb(255, 255, 255);
}

.title{
    text-align: center;
    color: #003E76;
    margin-top: 30px;
}

.mat-divider{
    background-color: #83f07a96;
}