<mat-nav-list>
    <button mat-menu-item (click)="idioma('esp')">
        <mat-icon><img src="assets/icons/flags/mx.jpg" alt=""></mat-icon>
        <span>Español</span>
      </button>
    <button mat-menu-item (click)="idioma('en')">
      <mat-icon> <img src="assets/icons/flags/us.png" alt=""> </mat-icon>
      <span>English</span>
    </button>
    <button mat-menu-item (click)="idioma('pg')" >
      <mat-icon><img src="assets/icons/flags/br.png" alt=""></mat-icon>
      <span>Português</span>
    </button>
    <button mat-menu-item (click)="idioma('fr')" >
      <mat-icon><img src="assets/icons/flags/fr.png" alt=""></mat-icon>
      <span>
        Français</span>
    </button>
  </mat-nav-list>