<h1 class="title">Histórico</h1>
<grafica-advanced-pie fxLayoutAlign="center center" [extra]="advancedData" *ngIf="loadingAdvanced == false">
</grafica-advanced-pie>
<mat-divider></mat-divider>
<h1 class="title">Licencias emitidas por municipio</h1>
<div fxLayout="row" fxLayoutAlign="end end" *ngIf="loading == false">
    <button mat-button color="visor" (click)="filtros_activos = !filtros_activos" class="button-visor-new">
        Filtros
    </button>
</div>
<div [hidden]="!filtros_activos" @animate [@fadeInOut]="filtros_activos">
    <form class="formulario" [formGroup]="filtro">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-form-field appearance="outline">
                <mat-label>Fecha inicio</mat-label>
                <!-- <mat-icon matSuffix class="secondary-text">date</mat-icon> -->
                <input autocomplete="off" name="f_inicio" type="date" formControlName="f_inicio" matInput required />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Fecha fin</mat-label>
                <!-- <mat-icon matSuffix class="secondary-text">date</mat-icon> -->
                <input autocomplete="off" name="f_fin" type="date" formControlName="f_fin" matInput required />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Tipo de licencia</mat-label>
                <select matNativeControl required formControlName="tipo_licencia">
                    <option value="Todas">Todas</option>
                    <option value="Nueva">Nueva</option>
                    <option value="Refrendo">Refrendo</option>
                </select>

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Origen</mat-label>
                <select matNativeControl required formControlName="origen_licencia">
                    <option value="Todas">Todas</option>
                    <option value="VU">Licencias VU</option>
                    <option value="Refrendo_e">Seccion histórico</option>
                </select>
            </mat-form-field>
            <button mat-button color="visor" (click)="getData()" class="button-visor-confirm">
                Buscar
            </button>
        </div>
    </form>
</div>

<div style="height: 720px; width: 100% !important" *ngIf="loading == false">
    <div>
        <mat-card>
            <mat-card-content>
                <p class="total-value">
                    Total Licencias por periodo: {{ totalValue }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    
    <ngx-charts-pie-grid [scheme]="colorScheme" [results]="data" (select)="onSelect($event)">
    </ngx-charts-pie-grid>
    
    
</div>
<mat-divider></mat-divider>
<h1 class="title">Giros Mas Solicitados</h1>
<!-- Existing Form or New Form Section -->
<div fxLayout="row" fxLayoutAlign="space-around center">
    <div [formGroup]="filtroGiros">
        <mat-form-field appearance="outline">
            <mat-label>Fecha inicio (Giros)</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="giroFechaInicio">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fecha fin (Giros)</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="giroFechaFin">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <!-- Add more controls as needed -->
    </div>
    
    <button mat-button color="visor" (click)="getGirosMasSolicitados()" class="button-visor-confirm">
        Aplicar
    </button>
</div>
<div fxLayout="row" fxLayoutAlign="end end" *ngIf="loading == false">
    <div style="height: 720px; width: 100% !important" *ngIf="!loading">
            <ngx-charts-bar-vertical [view3]="[width1, height1]" [scheme]="colorScheme" [results]="data2"
            [gradient]="gradient" [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true"
            [showYAxisLabel]="true" xAxisLabel="Fecha" yAxisLabel="Fichas">
        </ngx-charts-bar-vertical>
    </div>
</div>
<mat-divider></mat-divider>
<h1 class="title">Fichas Tecnicas</h1>
<div fxLayout="row" fxLayoutAlign="end end"  >
    <app-reporte-fichas></app-reporte-fichas>
</div>
<mat-divider></mat-divider>
<h1 class="title">Licencias emitidas por municipio</h1>
<div>
    <button mat-button color="visor" (click)="resetFilters()" class="button-visor-new">
      Reset  Filtros
    </button>
    <button mat-button color="visor" (click)="descargar()" class="button-visor-new">
        Descargar Licencias
      </button>
</div>
<div fxLayout="row" fxLayoutAlign="end end" style="margin-top: 10%;" >
   
    <ngx-charts-line-chart
    [view]="[width, height]"
      [scheme]="colorScheme"
      [results]="filteredData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      (select)="onSelectMunicipio($event)">
    </ngx-charts-line-chart>
  </div>
<mat-divider *ngIf="barD"></mat-divider>
<div #detail_municipio class="mat-elevation-z2" *ngIf="false">
    <h1 class="title">Detalle de {{ act.name }}</h1>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Owner Column -->
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
        <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
      </ng-container>
  
      <!-- Folio Column -->
      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
        <td mat-cell *matCellDef="let element">{{ element.folio }}</td>
      </ng-container>
  
      <!-- Business Type Column -->
      <ng-container matColumnDef="businessType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Type</th>
        <td mat-cell *matCellDef="let element">{{ element.actividad_comercial  }}</td>
      </ng-container>
  
      <!-- Payment Date Column -->
      <ng-container matColumnDef="paymentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Licencia</th>
        <td mat-cell *matCellDef="let element">{{ element.tipo_licencia}}</td>
      </ng-container>
  
      <!-- License Status Column -->
      <ng-container matColumnDef="licenseStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status_licencia
        }}</td>
      </ng-container>
  
      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Scian        </th>
        <td mat-cell *matCellDef="let element">{{ element.codigo_scian        }}</td>
      </ng-container>
  
      <!-- Table Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  