<div id="mi-municipio" class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header fuse-visor-50 p-24 h-100" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Administrar</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Mi municipio</span>
            </div>
            <div class="h2 mt-16">
                <mat-icon class="secondary-text s-18">person</mat-icon> Mi
                Municipio
            </div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24">
        <mat-card>
            <mat-toolbar matDialogTitle class="fuse-visor-50 m-0 p-o">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="title dialog-title">{{ dialogTitle }}</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <form [formGroup]="municipioForm" class="formulario" (submit)="actualizarMunicipio()">
                <div fxLayout="row" fxLayoutAlign="start start" class="mt-16">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Nombre</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <input name="nombre" formControlName="nombre" matInput required />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Dependencia encargada de revisar y emitir licencia
                            de negocio
                        </mat-label>
                        <mat-icon matSuffix class="secondary-text"
                            matTooltip="Director que firma la licencia. Ejemplo: Tesoreria o padrón y licencias">help
                        </mat-icon>
                        <input name="area_encargada" formControlName="area_encargada" matInput required />
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Director</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <input name="director" formControlName="director" matInput required />
                    </mat-form-field>
                </div>
                <!-- <div fxLayout="column" fxLayoutAlign="space-around start">
                    <mat-label>
                        Adjuntar firma del director <br> (De preferencia imagen PNG sin fondo para que se vea mejor )<br> <br>
                    </mat-label>
                    <input type="file" #UploadFileInputFirma id="fileUploadFirma" (change)="uploadFileFirma($event.target.files[0])" name="fileUploadFirma"  accept="image/*" />
                </div> -->
                <br />
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Dirección</mat-label>
                        <mat-icon matSuffix class="secondary-text">place</mat-icon>
                        <input name="director" formControlName="direccion" matInput required />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Teléfono</mat-label>
                        <mat-icon matSuffix class="secondary-text">call</mat-icon>
                        <input name="telefono" formControlName="telefono" matInput required />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="mb-12">
                    <section class="example-section">
                        <mat-checkbox class="example-margin" name="licencias_enlinea" color="primary"
                            formControlName="licencias_enlinea">Autorizar trámite y emisión de licencias en linea
                        </mat-checkbox>
                    </section>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="mb-12">
                    <section class="example-section">
                        <mat-checkbox class="example-margin" name="generar_licencia_ventanilla" color="primary"
                            formControlName="generar_licencia_ventanilla">Autorizar que usuario "ventanilla" y "revisor"
                            emitan licencias con cédula de apertura
                            activada</mat-checkbox>
                    </section>
                </div>
                <!-- <div fxLayout="row" fxLayoutAlign="start start" class="mt-12 mb-12">
                    <section class="example-section">
                        <mat-checkbox class="example-margin" name="ficha_tramite" formControlName="ficha_tramite">¿Emite Cédula de Apertura Provisional?</mat-checkbox>
                    </section>
                </div> -->
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Costo de licencia de bajo impacto</mat-label>
                        <!-- <mat-icon matSuffix class="secondary-text" matTooltip="Director que firma la licencia. Ejemplo: Tesoreria o padrón y licencias">help</mat-icon> -->
                        <input name="precio_lic" type="number" formControlName="precio_lic" matInput required />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Dias para solventar</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <input name="dias_solventar" type="number" formControlName="dias_solventar" matInput  />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Folio inicial(Las licencias emitidas a través de la plataforma empezarán a ser foliadas a partir del número señalado)</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <input name="folio_init" type="number"  formControlName="folio_init" matInput  />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Texto adicional en la licencia (Este texto
                            aparecerá en la parte inferior del reverso de la
                            licencia)</mat-label>
                        <textarea matInput formControlName="restricciones_licencia" rows="5"></textarea>
                        <mat-error *ngIf="
                                municipioForm.get('restricciones_licencia')
                                    .invalid &&
                                municipioForm.get('restricciones_licencia')
                                    .errors.maxlength
                            ">
                            Solo puedes ingresar
                            {{
                                municipioForm.get("restricciones_licencia")
                                    .errors.maxlength.requiredLength
                            }}
                            caracteres, actualmente tienes
                            {{
                                municipioForm.get("restricciones_licencia")
                                    .errors.maxlength.requiredLength
                            }}</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxLayoutAlign="space-around start">
                    <mat-label>
                        Subir un logo del municipio (Nota: se recomienda que sea
                        una imagen en horizontal para no afectar los estilos.
                        Formato ".png" y sin fondo) <br /><br />
                    </mat-label>
                    <input type="file" #UploadFileInput id="fileUpload" [disabled]="user.rol!=4" (change)="uploadFile($event.target.files[0])"
                        name="fileUpload" accept="image/png" />
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" class="mt-20"> 
                    <button mat-raised-button class="button-visor-confirm" [disabled]="user.rol!=4" color="primary" type="submit">
                        Guardar
                    </button>
                </div>
            </form>

            <mat-toolbar matDialogTitle class="fuse-visor-50 mt-24 p-o">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="title dialog-title">Firmas de licencias de negocio</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="50" class="p-24">
                    <mat-toolbar matDialogTitle class="fuse-visor-50 mt-24 p-o">
                        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                            <span class="title dialog-title">Firma 1</span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <form [formGroup]="firma[1]" class="formulario" (submit)="actualizarFirma(1)">
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Cargo del servidor público
                                    firmante</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input type="text" formControlName="cargo_firma" matInput required />
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Nombre del firmante</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input type="text" formControlName="nombre_firma" matInput required />
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="space-around center">
                            <mat-label>
                                Adjuntar firma<br />
                                (De preferencia imagen PNG sin fondo para que se
                                vea mejor )<br />
                                <br />
                            </mat-label>
                            <input type="file" [disabled]="user.rol!=4" (change)="
                                    uploadFileFirma($event.target.files[0], 1)
                                " accept="image/*" />
                            <img [src]="firma[1].value.firma_img" style="width: 100%; max-width: 178px" alt="" />
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="mt-20" *ngIf="user.rol==4">
                            <button mat-raised-button class="button-visor-confirm" [disabled]="firma[1].invalid"
                                color="primary" type="submit">
                                Guardar
                            </button>
                            <button mat-icon-button color="warn" *ngIf="firma[1].value.id" (click)="deleteFirma(1)"
                                type="button">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </form>
                </div>
                <div fxFlex="50" class="p-24">
                    <mat-toolbar matDialogTitle class="fuse-visor-50 mt-24 p-o">
                        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                            <span class="title dialog-title">Firma 2</span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <form [formGroup]="firma[2]" class="formulario" (submit)="actualizarFirma(2)">
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Cargo del servidor público
                                    firmante</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input type="text" formControlName="cargo_firma" matInput required />
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Nombre del firmante</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input type="text" formControlName="nombre_firma" matInput required />
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="space-around center">
                            <mat-label>
                                Adjuntar firma<br />
                                (De preferencia imagen PNG sin fondo para que se
                                vea mejor )<br />
                                <br />
                            </mat-label>
                            <input type="file" [disabled]="user.rol!=4" (change)="
                                    uploadFileFirma($event.target.files[0], 2)
                                " accept="image/*" />
                            <img [src]="firma[2].value.firma_img" style="width: 100%; max-width: 178px" alt="" />
                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center" class="mt-20" *ngIf="user.rol==4">
                            <button mat-raised-button class="button-visor-confirm" [disabled]="firma[2].invalid"
                                color="primary" type="submit">
                                Guardar
                            </button>
                            <button mat-icon-button color="warn" *ngIf="firma[2].value.id" (click)="deleteFirma(2)"
                                type="button">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around start">
                <div fxFlex="50" class="p-24">
                    <mat-toolbar matDialogTitle class="fuse-visor-50 mt-24 p-o">
                        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                            <span class="title dialog-title">Firma 3</span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <form [formGroup]="firma[3]" class="formulario" (submit)="actualizarFirma(3)">
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Cargo del servidor público
                                    firmante</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input type="text" formControlName="cargo_firma" matInput required />
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Nombre del firmante</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input type="text" formControlName="nombre_firma" matInput required />
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="space-around center">
                            <mat-label>
                                Adjuntar firma<br />
                                (De preferencia imagen PNG sin fondo para que se
                                vea mejor )<br />
                                <br />
                            </mat-label>
                            <input type="file" [disabled]="user.rol!=4" (change)="
                                    uploadFileFirma($event.target.files[0], 3)
                                " accept="image/*" />
                            <img [src]="firma[3].value.firma_img" style="width: 100%; max-width: 178px" alt="" />
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="mt-20" *ngIf="user.rol==4">
                            <button mat-raised-button class="button-visor-confirm" [disabled]="firma[3].invalid"
                                color="primary" type="submit">
                                Guardar
                            </button>
                            <button mat-icon-button color="warn" *ngIf="firma[3].value.id" (click)="deleteFirma(3)"
                                type="button">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </form>
                </div>
                <div fxFlex="50" class="p-24">
                    <mat-toolbar matDialogTitle class="fuse-visor-50 mt-24 p-o">
                        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                            <span class="title dialog-title">Firma 4</span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <form [formGroup]="firma[4]" class="formulario" (submit)="actualizarFirma(4)">
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Cargo del servidor público
                                    firmante</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input type="text" formControlName="cargo_firma" matInput required />
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Nombre del firmante</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input type="text" formControlName="nombre_firma" matInput required />
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="space-around center">
                            <mat-label>
                                Adjuntar firma<br />
                                (De preferencia imagen PNG sin fondo para que se
                                vea mejor )<br />
                                <br />
                            </mat-label>
                            <input type="file" [disabled]="user.rol!=4" (change)="
                                    uploadFileFirma($event.target.files[0], 4)
                                " accept="image/*" />
                            <img [src]="firma[4].value.firma_img" style="width: 100%; max-width: 178px" alt="" />
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="mt-20" *ngIf="user.rol==4"> 
                            <button mat-raised-button class="button-visor-confirm" [disabled]="firma[4].invalid"
                                color="primary" type="submit">
                                Guardar
                            </button>
                            <button mat-icon-button color="warn" *ngIf="firma[4].value.id" (click)="deleteFirma(4)"
                                type="button">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
    </div>
</div>