<mtx-grid [headerTemplate]="headerTpl"
          [data]="list"
          noResultText="Sin datos"
          [columns]="columns"
          [length]="total"
          [loading]="isLoading"
          [pageOnFront]="false"
          [rowStriped]="true"
          [pageIndex]="query.page"
          >
</mtx-grid>

<ng-template #headerTpl let-col>
    <span [matTooltip]="col.description">{{col.header}}</span>
</ng-template>

<ng-template #accionesTpl let-row let-index="index">
    <button mat-icon-button aria-label="Subir" [disabled]="row.order <= 2 || row.order >= 1000 || !row.editable"
            (click)="subirCapa(row)">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-icon-button aria-label="Bajar" [disabled]="row.order <= 1 || row.order >= 999 || !row.editable"
            (click)="bajarCapa(row)">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-icon-button aria-label="Editar" color="primary" [disabled]="row.order <= 1 || row.order >= 1000 || !row.editable"
            (click)="editarCapa(row)">
        <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button aria-label="Eliminar" color="warn" [disabled]="row.order <= 1 || row.order >= 1000 || !row.editable"
    (click)="eliminarCapa(row.id)">
        <mat-icon>delete</mat-icon>
    </button>
</ng-template>