


<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>Full width</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
    <a [routerLink]="['/tablas/users']">
  inicio
</a>
<a [routerLink]="['/tablas/users/1123123']"  >
  parametro
</a>
<a [routerLink]="['/tablas/users/ameca']"  >
  parametro ameca
</a>

<br>

{{id}}
    </div>
    <!-- / CONTENT -->

</div>
